<%= form_with(model: progress, class: "contents") do |form| %>
  <% fields = {
    weight: "Peso (kg)",
    chest: "Pecho (cm)",
    arms: "Brazos (cm)",
    waist: "Cintura (cm)",
    hip: "Cadera (cm)",
    thighs: "Muslos (cm)",
    calves: "Pantorrilla (cm)"
  } %>

  <% fields.each do |field, label| %>
    <fieldset class="fieldset mb-4">
      <legend class="fieldset-legend"><%= label %></legend>
      <%= form.number_field field,
          placeholder: "0",
          min: 0,
          class: ["input w-full", { "input-error": progress.errors[field].any? }] %>

      <% if progress.errors[field].any? %>
        <p class="text-sm text-red-500 mt-1"><%= progress.errors[field].first %></p>
      <% end %>
    </fieldset>
  <% end %>

  <div class="mt-4 inline-block">
    <%= form.submit "Actualizar progreso", class: "btn btn-primary mr-2" %>
  </div>
<% end %>
